#colophon{margin-top:20px;}
#colophon .panel-body{padding-bottom:0;}
#colophon .widget,#colophon #link_menu{margin:0 0 15px;}
#colophon .widget li{display:inline-block;border:0;border-bottom:1px solid #ddd;}
#colophon .widget_recent_comments li,#colophon .widget_rss li{display:block;}
#colophon .widget-title{padding:10px 0;}
#colophon .menu{margin-bottom:10px;list-style:none;border-radius:4px;}
#colophon .menu li{border:0;padding:0;margin:0;}
#colophon .breadcrumb>li+li:before,
#colophon .menu li+li:before{content:"\2212";padding:0 5px;color:#ccc;}
#colophon .menu li:hover{background:none;}

#colophon.only-copyright{padding-top: 40px;padding-bottom: 40px;margin-top: 100px;color: #777;text-align: center;border-top: 1px solid #e5e5e5;}
.widget ul{list-style-type:none;}
.widget li{position:relative;display:block;padding:10px 15px;border-top:1px solid #ddd;}
.widget li:first-child{border-top:0;}
.widget li:before, .widget li:after{display: table; content: " ";}
.widget li:after{clear: both;}
.widget li.icon{padding-left: 46px;background-position: 10px;background-repeat: no-repeat;}

article .entry-content{font-size:14px;line-height:24px;overflow: hidden;}
article .page-header{margin:10px 0 20px;}
article .entry-header .entry-title{margin:10px 0 15px;line-height:34px;}
article .entry-header .entry-meta{color:#999;font-size:12px;}