
@{
    ViewBag.Title = "Demo the skill set";
}

<h2>Demo the skill set</h2>


<div class="panel panel-default">
    <div class="panel-heading">Filter candidates </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-8">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">C#
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">HTML
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Sql
                </label>
            </div>

        </div>
        <div class="row">
            <p></p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="170px">Firstname</th>
                        <th width="170px">Lastname</th>
                        <th>Skill Set</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>



<div class="panel panel-default" ng-controller="candidateController">
    <div class="panel-heading">Register a new candidate</div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-xs-2">
                <label for="ex1">Surname</label>
                <input class="form-control" id="ex1" type="text" ng-model="firstName">
            </div>
            <div class="col-xs-3">
                <label for="ex2">First Name</label>
                <input class="form-control" id="ex2" type="text" ng-model="lastName">
            </div>
            <div class="col-xs-4">
                <label for="ex3">Full Name</label>
                <input class="form-control" id="ex3" type="text" value="{{ fullName() }}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label> Skill</label>

            </div>
            <div class="col-xs-8">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">C#
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">HTML
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Sql
                </label>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary">Submit</button>


            </div>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        View all candidates  <button type="button" class="btn btn-link">Clcik to show all candidates</button>
    </div>
    <div class="panel-body">Panel Content</div>

</div>
