
<footer id="colophon" class="container" role="contentinfo">
    <div class="panel panel-default text-muted">
        <div class="panel-body">
            <aside id="analytics-2" class="widget clearfix footer-widget widget_analytics">
                <ul>
                    <li>文章总数 : 114</li>
                    <li>用户总数 : 197</li>
                </ul>

            </aside>
        </div>
        <div class="panel-footer clearfix">
            © 2014 <a href="http://www.dmeng.net/">多梦网络</a> 版权所有 粤ICP备13073792号
        </div>
    </div>
</footer>