@{
    ViewBag.Title = "Gracy's Contact Detail";
}
<div class="container-fluid">
    <h2>Gracy's Contact Detail</h2>
    <address>
        Sunnynook<br />
        Auckland, NewZealand<br />
        <abbr title="Phone">P:</abbr>
        021 084 98674
    </address>


</div>
