@{
    ViewBag.Title = "删除文章";
}

<div id="wrap-all">
    <div id="main">
        <div class="login-wrap">

            <div class="single-panel clearfix" style="min-height: 561px;">
                <div class="single-panel-inner middle" style="width: 800px;margin-top: 10px;">
                        <div style="text-align: center;">
                            @ViewBag.ErrorMessage
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>