@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Geek Hunters</h1>

</div>

<div class="row">
    <div class="col-md-12">
        <h3> Using GRS a recruitment agent should be able to:</h3>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <h4>* Register a new candidate</h4>

    </div>
    <div class="col-md-4">
        <h4>* View all candidates</h4>
    </div>
    <div class="col-md-4">
        <h4>* Filter candidates</h4>
    </div>
</div>
<p></p>
<div class="well well-lg text-center">
    <a href="/Demo/Demo" class="btn btn-link btn-lg">  Click to get start </a>
</div>

