@{
    ViewBag.Title = "About this project";
}
<div class="">
    <h2> This DEMO using the following technologies </h2>
     
    <div class="col-md-12">

        <button type="button" class="btn btn-outline-primary"> MVC </button>
        <button type="button" class="btn btn-outline-secondary"> AngularJS 1</button>
        <button type="button" class="btn btn-outline-success"> C# </button>
        <button type="button" class="btn btn-outline-danger"> linq </button>
        <button type="button" class="btn btn-outline-warning"> Sqlite</button>
        <button type="button" class="btn btn-outline-info"> Jquery </button>
        <button type="button" class="btn btn-outline-light"> HTML </button>
        <button type="button" class="btn btn-outline-dark"> asp.net </button>
        <button type="button" class="btn btn-outline-dark"> Bootstrap </button>


    </div>


<div class="col-md-12">
    <h2> To run this demo you should follow: </h2>
    <h4>1. The example dababase has been put in the folder: App_Data</h4>
    <h4>2. Change the connectionString in web.configure in web project</h4>
    <h4>3. Change the connectionString in app.configure in unit test project</h4>

    <h4>
        e.g. connectionString="Data Source=|DataDirectory|\GeekHunter.sqlite;" 
    </h4>
    <h4>
        or
    </h4>
    <h4>
        e.g. connectionString="Data Source=C:\DonetDevelopment\InterViewProject\GeekHunter.sqlite"
    </h4>
</div>
</div>
