@{
    ViewBag.Title = "Gracy's Contact Detail";
}
<div class="container-fluid">
    <h2>Gracy's Contact Detail</h2>
    <address>
        Sunnynook<br />
        Auckland, NewZealand<br />
        Phone: 021 084 98674 <br />
        Mail: <a href="#">Gracyzhan@gmail.com</a> <br />

    </address>


</div>
