@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 >Welcome to Geek Hunters</h2>

</div>

<div class="row">
    <div class="col-md-12">
        <h4> Using this DEMO you should be able to:</h4>
    </div>
</div>
<div class="row">
    <p></p> 
    <div class="col-md-4">
        <h4>* Register a new candidate</h4>

    </div>
    <div class="col-md-4">
        <h4>* View all candidates</h4>
    </div>
    <div class="col-md-4">
        <h4>* Filter candidates</h4>
    </div>
</div>
<p></p>
<div class="well well-lg text-center">
    <a href="/Demo/Demo" class="btn btn-link btn-lg" title="you may want to go to readme page first">  Click to get start </a>
</div>

